*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

h1
{
    color:red;
    text-align:center;

}

.clouds
{
    position:absolute;
    z-index:3


}



.container
{
    width:800px;
    margin:auto auto;
}
#screen
{
    height:200px;
}
body
{
    background-color: black;;
}

h5{
    color:rgb(2, 112, 2)
}
#map{
    max-height:350px;
    overflow: scroll; 
    scroll-behavior:auto;
    position:relative;
    border: 5px solid green;
    background-color: rgb(72, 90, 140)


}



#plane
{
    position:absolute;
    height:15px;
    z-index: 10;
}


label, input
{
    color:green;
    margin-top:10px;
    text-align: center;
}


button{
    height:15px;
    width:70px;
    font-weight: bolder;
    font-style: italic;
    font-size: 10px;
}

ul, #dashBoard ,.flex
{
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding:2px;
}

.flex
{
    background-color: green;
    font-weight:bold;
    color:white;
    align-self: center;
}
.flex button,.flex select
{
    background-color:green;
    color:white;
    border:none;
}

#dashBoard div 
{
    width:50%;
    border:2px solid white;
    padding:10px
}

.speedDiv
{
    text-align: center;
    color:white;
    border:2px solid green;
    padding:10px;
    margin-top: 10px;
}

#destination
{
    width:80px;
    height:20px;
}

#btn ,#startButton
{
    height:50px;
    width:50px;
    border-radius: 90px;
    border:2px green solid;
}



#landingDiv
{
    display:none;
    justify-content: center;
}
input
{
    margin-left:50px;
    justify-content: center;;
}

.screensLabels
{
    color:green;
    font-size:12px;
    font-weight:bold;
    z-index:5;
    justify-content: space-between;
    display:flex;
    list-style-type: none;
    justify-content: space-around;
}

#AltitudeRange
{
    width:300px;
    margin:auto auto;
    background-color: green;
}

#info
{
    background-color:rgb(100, 5, 5);
    display:block;
    font-style: italic;
    font-size:10px;
    margin:auto auto;
    margin-top:20px;
    width:150px;
    color:white;
    height:50px;
    border:1px solid white;
    padding:5px;


    

}

#zommingDiv
{
    display:absolute;
    justify-content:right;
    position:sticky;
    top:10px;
    left:0px;
    z-index:12;


}

#zommingDiv button
{
    background-color: green;
    border-radius: 90px;
    color:white;
    margin:auto auto;
}



@media only screen and (max-width:600px)
{
.container
    {
        width:400px;
        margin:auto auto;
    }
}






